$color-strong-cyan: hsl(171, 66%, 44%);
$color-light-blue: hsl(233, 100%, 69%);

$color-dark-grayish-blue: hsl(210, 10%, 33%);
$color-grayish-blue: hsl(201, 11%, 66%);

$color-light-gray: #f5f6f8;

$break-mobile: 900px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 10px;
    color: $color-grayish-blue;
}


img {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 144rem;
}

a {
    all: unset;
    cursor: pointer;
}

li {
    list-style: none;
}