.btn {
    padding: 1.5rem 3.5rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
}

.btn-green {
    background-color: $color-strong-cyan;   
}

.btn-blue {
    background-color: $color-light-blue;   
}
