.btn {
    padding: 1.5rem 3.5rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
}

.btn-green {
    background-color: $color-strong-cyan;   
}

.btn-blue {
    background-color: $color-light-blue;   
}

.section-main {
    margin-top: 10rem;

    .container {
        max-width: 62rem;
        margin: 0 auto;        
        text-align: center;
    }
    
    &__title {
        font-size: 3.5rem;
        color: $color-dark-grayish-blue;
    }

    &__description {
        margin-top: 1.6rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
    
    .wrapper {
        margin-top: 6rem;
        display: flex;
        gap: 7rem;
    }

    &__img {
        width: 60%;        
        position: relative;
        left: -4rem;
    }
}

.benefits {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 50%;

    &__title {
        font-size: 2.5rem;
        color: $color-dark-grayish-blue;
    }

    &__description {
        margin-top: 1rem;
        max-width: 35rem;
        font-size: 1.6rem;
    }
}

.section-second {
    margin-top: 10rem;

    .container {
        max-width: 100rem;
        margin: 0 auto;        
        text-align: center;
    }

    &__title {
        font-size: 3.5rem;
        color: $color-dark-grayish-blue
    }

    &__description {
        margin: 1rem 15rem;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    &__img {
        margin-top: 6rem;
    }
}