.btn {
    padding: 1.5rem 3.5rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    

    &:hover {
        filter: brightness(110%);
    }
}

.btn-green {
    background-color: $color-strong-cyan;  
    border-bottom: .3rem solid darken($color-strong-cyan, 5%);
    box-shadow: 1px 8px 20px -5px rgba($color-strong-cyan,.5);    
}

.btn-blue {
    background-color: $color-light-blue;   
    border-bottom: .3rem solid darken($color-light-blue, 5%); 
    box-shadow: 1px 8px 20px -5px rgba(0,0,0,.5);
}

.group-btn {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.section-main {
    margin-top: 10rem;

    .container {
        max-width: 62rem;
        margin: 0 auto;        
        text-align: center;
    }
    
    &__title {
        font-size: 3.5rem;
        color: $color-dark-grayish-blue;
    }

    &__description {
        margin-top: 1.6rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
    
    .wrapper {
        margin-top: 6rem;
        display: flex;
        gap: 7rem;
    }

    &__img {
        width: 60%;        
        position: relative;
        left: -4rem;
    }
}

.group-benefits {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 50%;
}

.benefit {

    &__title {
        font-size: 2.5rem;
        color: $color-dark-grayish-blue;
    }

    &__description {
        margin-top: 1rem;
        max-width: 35rem;
        font-size: 1.6rem;
    }
}

.section-second {
    margin-top: 10rem;

    .container {
        max-width: 100rem;
        margin: 0 auto;        
        text-align: center;
    }

    &__title {
        font-size: 3.5rem;
        color: $color-dark-grayish-blue
    }

    &__description {
        margin: 1rem 15rem;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    &__img {
        margin-top: 6rem;
    }
}

.section-third {
    margin-top: 3rem;
    text-align: center;

    &__title {
        font-size: 3.5rem;
        color: $color-dark-grayish-blue;
    }

    &__description {
        margin-top: 1.6rem;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }  
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
    }
}

.advantage {
    max-width:35rem;

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
            width: 4rem;
        }
    }

    &__title {
        margin-top: 4rem;
        font-size: 2.5rem;
        color: $color-dark-grayish-blue;
    }

    &__description {
        margin-top: 1rem;
        font-size: 1.6rem;
        text-align: center;
        line-height: 3rem;
    }
}

.group-company {
    margin-top: 15rem;
    display: flex;
    justify-content: space-between;

    &__item {
        width: 15rem;
    }
}

.section-fifth {
    margin-top: 15rem;
    text-align: center;

    .container {
        text-align: center;
        max-width: 60rem;
    }

    &__title {
        font-size: 3.5rem;
        color: $color-dark-grayish-blue;
    }

    &__description {
        margin-top: 1.6rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }    
}