.footer {
    margin-top: 15rem;
    background-color: $color-light-gray;
    padding: 4rem 0;
    position: relative;
    font-size: 1.6rem;

    .wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 5rem;
    }

    &__nav {

        .nav-menu {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 2rem;
            max-height: 9rem;
            color: $color-dark-grayish-blue;

            &__item {
                margin-left: 8rem;
            }
        }
    }

    &__social {
        position: absolute;
        right: 10%;


        svg {
            margin-left: 2rem;
            width: 3rem;
            fill: $color-dark-grayish-blue;
        }
    }

    .attribution {
        position: absolute;
        right: .5rem;
        bottom: .5rem;
        font-size: 11px; 
        text-align: center;

        a {
            color: hsl(228, 45%, 44%);
        }
    }
}