.footer {
    margin-top: 15rem;
    background-color: $color-light-gray;
    padding: 4rem 0;
    position: relative;
    font-size: 1.6rem;

    .wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 5rem;
    }

    &__nav {

        .nav-menu {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 2rem;
            max-height: 9rem;
            color: $color-dark-grayish-blue;

            &__item {
                margin-left: 8rem;

                &:hover {
                    color: $color-strong-cyan;
                }
            }
        }
    }

    &__social {
        position: absolute;
        right: 10%;


        svg {
            margin-left: 2rem;
            width: 2.5rem;
            fill: $color-dark-grayish-blue;

            &:hover {
                fill: $color-strong-cyan;
            }
        }
    }

    .attribution {
        position: absolute;
        right: .5rem;
        bottom: .5rem;
        font-size: 11px; 
        text-align: center;

        a {
            color: hsl(228, 45%, 44%);
        }
    }

    @media screen and (max-width: $break-mobile) {
        font-size: 1.4rem;

        .wrapper {
            flex-direction: column;
            gap: 3rem;
        }

        .nav-menu {
            max-height: 20rem;
            align-items: center;

            &__item {
                margin-left: 0;
            }
        }

        
        &__social {
            position: static;
        }
    }
}