* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 10px;
  color: #9fabb2;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 144rem;
}

a {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

.header {
  position: relative;
}

.header-bg {
  width: 100%;
}

.header-bg img {
  height: 30rem;
}

.header__logo {
  position: absolute;
  top: 12rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 10rem;
}

.header .container {
  text-align: center;
  max-width: 70rem;
}

.header__title {
  font-size: 4.5rem;
  color: #4c545d;
}

.header__description {
  margin-top: 2rem;
  font-size: 2rem;
}

.btn {
  padding: 1.5rem 3.5rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}

.btn:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.btn-green {
  background-color: #26baa4;
  border-bottom: 0.3rem solid #22a591;
  -webkit-box-shadow: 1px 8px 20px -5px rgba(38, 186, 164, 0.5);
          box-shadow: 1px 8px 20px -5px rgba(38, 186, 164, 0.5);
}

.btn-blue {
  background-color: #6173ff;
  border-bottom: 0.3rem solid #475dff;
  -webkit-box-shadow: 1px 8px 20px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 8px 20px -5px rgba(0, 0, 0, 0.5);
}

.group-btn {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.section-main {
  margin-top: 10rem;
}

.section-main .container {
  max-width: 62rem;
  margin: 0 auto;
  text-align: center;
}

.section-main__title {
  font-size: 3.5rem;
  color: #4c545d;
}

.section-main__description {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.section-main .wrapper {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7rem;
}

.section-main__img {
  width: 60%;
  position: relative;
  left: -4rem;
}

.group-benefits {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  width: 50%;
}

.benefit__title {
  font-size: 2.5rem;
  color: #4c545d;
}

.benefit__description {
  margin-top: 1rem;
  max-width: 35rem;
  font-size: 1.6rem;
}

.section-second {
  margin-top: 10rem;
}

.section-second .container {
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
}

.section-second__title {
  font-size: 3.5rem;
  color: #4c545d;
}

.section-second__description {
  margin: 1rem 15rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.section-second__img {
  margin-top: 6rem;
}

.section-third {
  margin-top: 3rem;
  text-align: center;
}

.section-third__title {
  font-size: 3.5rem;
  color: #4c545d;
}

.section-third__description {
  margin-top: 1.6rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.section-third .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.advantage {
  max-width: 35rem;
}

.advantage__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.advantage__img img {
  width: 4rem;
}

.advantage__title {
  margin-top: 4rem;
  font-size: 2.5rem;
  color: #4c545d;
}

.advantage__description {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 3rem;
}

.group-company {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.group-company__item {
  width: 15rem;
}

.section-fifth {
  margin-top: 15rem;
  text-align: center;
}

.section-fifth .container {
  text-align: center;
  max-width: 60rem;
}

.section-fifth__title {
  font-size: 3.5rem;
  color: #4c545d;
}

.section-fifth__description {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.footer {
  margin-top: 15rem;
  background-color: #f5f6f8;
  padding: 4rem 0;
  position: relative;
  font-size: 1.6rem;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 5rem;
}

.footer__nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  max-height: 9rem;
  color: #4c545d;
}

.footer__nav .nav-menu__item {
  margin-left: 8rem;
}

.footer__nav .nav-menu__item:hover {
  color: #26baa4;
}

.footer__social {
  position: absolute;
  right: 10%;
}

.footer__social svg {
  margin-left: 2rem;
  width: 2.5rem;
  fill: #4c545d;
}

.footer__social svg:hover {
  fill: #26baa4;
}

.footer .attribution {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  font-size: 11px;
  text-align: center;
}

.footer .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */